@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-100: #ffffff;
  --color-primary-200: #f4f4f4;
  --color-primary-300: #e9e9e9;
  --color-primary-400: #757575;
  --color-primary-500: #3a3a3a;
  --color-primary-600: #2d2d2d;
  --color-primary-700: #1f1f1f;
  --color-primary-800: #050505;
  --color-secondary-100: #a445ed;
  --color-secondary-200: #ff5252;
  --color-icon-primary: #A445ED;
 }

 @font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/Inconsolata-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/Inconsolata-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

* {
  box-sizing: border-box;
}


body {
  font-family: 'Inter', sans-serif;
}

.dark body{
  background-color: #050505 ;
}

.font-inconsolata {
  font-family: 'Inconsolata', monospace;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-lora {
  font-family: 'Lora', 'serif'
}

.loader {
  width: 64px;
  height: 64px;
  border: 5px dotted #a445ed;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 